<h1>退会手続き</h1>
<h3>利用できなくなるサービス</h3>
 <h5>退会されますと、以下のサービスが利用できなくなります</h5>
  <h7>・プロフィール情報</h7>
  <br><h7>・発送前の注文状況、変更</h7>
  <br><h7>・購入履歴</h7>
  <br><h7>・（その他、ログインを必要とするすべてのサービス）</h7>


<br><br><%= link_to '戻る', user_path(current_user.id) %>