
<h4>アーティスト詳細</h4>
<p><%= @artist.name %></p>

<h4>プロフィール</h4>
<p><%= @artist.description %></p>

<%= link_to "アーティスト一覧へ", user_artists_path %>

<p>作品</p>
<p>ここに写真</p>
<p>商品名</p>
<p>発売日</p>
<p>価格</p>

</div>